document {
    line-height: 1.2rem;
}
.code-container {
    position: relative;
}
.code {
    line-height: 1.2rem;
    white-space: pre;
    font-family: "Fira Code", monospace;
    background: transparent;
}
@supports (font-variation-settings: normal) {
    .code {
        font-family: "Fira Code VF", monospace;
    }
}
#cursor {
    top: 0;
    left: 0;
    z-index: -2;
    width: 1cw;
    min-width: 1cw;
    background: #ccccff;
    position: absolute;
}
#target {
    z-index: -1;
    width: 1cw;
    min-width: 1cw;
    background: #ff6666;
    position: absolute;
}
#statusbar {
    border: solid black 1px;
    background: #eeeecc;
}
#counter {
    position: absolute;
    top: 1vh;
    right: 3vh;
    color: #ff6666;
    font-size: 3rem;
}

#command {
    position: absolute;
    top: 3vh;
    right: 3vh;
    color: green;
    font-size: 3rem;
}
