<html>
    <head>
        <title>vim game</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/vs.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css" />
        <link rel="stylesheet" href="/static/app.css" />

        <script src="/static/navigationHelper.js"></script>
        <script src="/static/normalMode.js"></script>
    </head>
</head>
<body>
    <script type="module">
      import hljs from 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/es/highlight.min.js';
      //  and it's easy to individually load additional languages
      import csharp from 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/es/languages/csharp.min.js';
      hljs.registerLanguage('csharp', csharp);

      document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('pre.code').forEach((el) => {
          el.textContent = document.getElementById("codestring").innerText;
          hljs.highlightElement(el);
          document.getElementById("statusbar").innerText = `[${model.mode}] ${model.caret.line}:${model.caret.col} - ${code[model.caret.line].length}`;
        })
      })
    </script>
    <div class="code-container">
        <pre id="codestring" class="codestring" style="display:none">
using System;
using System.Linq;
using xxx;

namespace dis_test;
internal class Program
{
    public static void Main(string[] args)
    {
        var docid = "14724c8a0n8anwpw98nawlwiuhwL*$rwy8";
        for(int i=0; i<2; i++)
        {
            var asd = new DisClient(asd, qwe);
            asd.value = "new value";

            Console.Write(asd.ToString());
        }
    }
}
</pre>
        <pre class="code"></pre>
        <div id="cursor">_</div>
        <div id="target">_</div>
    </div>
    <div id="statusbar"></div>
    <script type="text/javascript">
      let model = {
        counter: 0,
        mode: "normal",
        caret: {col: 0, line: 0},
        target: {col: 0, line: 0},
        partialKey: "",
        getCaret(){ return {col: this.caret.col, line: this.caret.line}; },
        setCaret(pos){ this.caret.col = pos.col; this.caret.line = pos.line; },
      }
      const nonSpaceDelimiters = ['(', '[', '{', ')', ']', '}', '.', ',', ';']
      const delimiters = [...nonSpaceDelimiters, ' ', '']
      let code = document.getElementById("codestring").innerText.split("\n");
      normalMode = NewNormalMode(code);


      // retry how many times?
      //
      var i=0
      do{
        model.target.line = Math.floor(Math.random()*code.length);
        model.target.col = Math.floor(Math.random()*code[model.target.line].length);
      }while(i++<50 && code[model.caret.line].charAt(model.caret.col) == " ")
      setObjectPosition(document.getElementById("target"), model.target);

      window.addEventListener('keydown', (e) => {
        switch (e.code){
          case "Escape": model.mode = 'normal'; break;
          default:
            switch(model.mode){
              case 'normal': processKeyNormalMode(e.key);break;
              case 'visual': processKeyVisualMode(e.key);break;
              case 'insert': processKeyInsertMode(e.key);break;
            }
        }
        document.getElementById("statusbar").innerText = `[${model.mode}] ${model.caret.line}:${model.caret.col} - ${code[model.caret.line].length} - ${model.partialKey} ${e.code} # ${model.counter}`;
      })

      function processKeyNormalMode(key) {
        let c = document.getElementById('cursor');
        let pos = model.getCaret();
        let command = model.partialKey == null ? key : model.partialKey + key;

        switch(command){
          case "0": pos.col = 0; break;
          case "$": pos.col = code[pos.line].length; break;
          case "G": pos.line = code.length -1; break;
          case "g": model.partialKey = "g"; break;
          case "gg": pos.line = 0; model.partialKey = null; break

          case "h": pos = normalMode.moveLeft(pos);break;
          case "j": pos = normalMode.moveDown(pos);break;
          case "k": pos = normalMode.moveUp(pos);break;
          case "l": pos = normalMode.moveRight(pos);break;

          case "w": pos = normalMode.nextWord(pos); break;
          case "e": pos = normalMode.nextEndOfWord(pos); break;
          case "b": pos = normalMode.previousWord(pos); break;

          case "i": model.mode = 'insert'; break;
          case "v": model.mode = 'visual'; break;
        }

        if(pos.col < 0)
          pos.col = 0;
        if(pos.line >= code.length)
          pos.line = code.length-1;

        if(model.partialKey == null || model.partialKey == "")
          model.counter++;

        model.setCaret(pos);
        let uiCaret = {
          line: pos.line,
          col: (pos.col > code[pos.line].length) ? code[pos.line].length - 1 : pos.col
        };
        setObjectPosition(c, uiCaret);

        if(model.caret.line == model.target.line && model.caret.col == model.target.col)
          alert("YAY!!!!")
      }

      function setObjectPosition(target, pos){
        target.style.left = (pos.col * 1.23) + "ch";
        target.style.top = (pos.line * 1.2) + "rem";
      }
      function processKeyInsertMode(key) {
        let c=document.getElementById('cursor');

        var cursorCol = col < code[line].length ? col : code[line].length - 1;
        if(cursorCol < 0)
          cursorCol = 0;

        c.style.left = (cursorCol * 1.23) + "ch";
        c.style.top = (line * 1.2) + "rem";
      }
      function processKeyVisualMode(key) {
        let c=document.getElementById('cursor');

        var cursorCol = col < code[line].length ? col : code[line].length - 1;
        if(cursorCol < 0)
          cursorCol = 0;

        c.style.left = (cursorCol * 1.23) + "ch";
        c.style.top = (line * 1.2) + "rem";
      }
    </script>
</body>
</html>
